<header>
  <h1>Agenda</h1>
  <button mat-raised-button color="primary" (click)="showCroissantEditionDialog()">
    <mat-icon>add</mat-icon> AJOUTER
  </button>
</header>

<table>
  <thead>
    <tr>
      <th>Lundi</th>
      <th>Mardi</th>
      <th>Mercredi</th>
      <th>Jeudi</th>
      <th>Vendredi</th>
    </tr>
  </thead>
  <tbody>
    <tr app-week [index]="0" [croissants]="service.croissants"></tr>
    <tr app-week [index]="1" [croissants]="service.croissants"></tr>
    <tr app-week [index]="2" [croissants]="service.croissants"></tr>
    <tr app-week [index]="3" [croissants]="service.croissants"></tr>
  </tbody>
</table>
