@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #fafafa;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
}

img.avatar {
  border-radius: 50px;
  margin: .3em;
}

.radio-btn-vertical {
  display: inline-flex;
  flex-direction: column;

  .mat-radio-button {
    margin-bottom: .5em;
  }
}
