<mat-card class="day" [ngClass]="{'day-passed': isDayPassed}">
  <div class="name">
    <span>
      {{day.format('D MMM')}}
    </span>
  </div>

  <div class="items">

    <div *ngFor="let c of croissants" class="item" (click)="!isDayPassed && showCroissantEditionDialog(day, c)">
      <img class="avatar" gravatar [email]="c.person.email" [size]="30" fallback="identicon">
      <div>{{c.reason}}</div>
    </div>

    <button mat-icon-button *ngIf="croissants.length < 2" class="add-button" [disabled]="isDayPassed"  (click)="showCroissantEditionDialog(day)">
      <mat-icon aria-label="ajouter croissant">
        add_circle_outline
      </mat-icon>
    </button>
  </div>
</mat-card>
