@import '~@angular/material/theming';
@import 'src/styles/theme.scss';

.day {
  display: flex;
  flex-direction: column;
  min-width: 130px;
  width: 15vw;
  background-color: white;
  min-height: 130px;
  padding: 0;
  padding-top: 1.5em;
  justify-content: center;

  .name {
    position: absolute;
    top: 0;
    font-size: .8em;
    padding: .4em;
  }

  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }

  &.day-passed {
      background-color: rgba(0, 0, 0, 0.5);
      color: white;
      cursor: not-allowed;
  }
}

.day-passed button {
  cursor: not-allowed;
}

.day-passed .item {
  cursor: not-allowed !important;
}

.items {
  display: flex;
  flex-direction: column;
}

.item {
  width: 100%;
  cursor: pointer;
  align-content: center;
  align-items: center;
  display: flex;
  background-color: mat-color($bk-app-accent);
  margin-bottom: .2em;
  color: white;

  div {
    display: inline;
    margin: .3em 0;
  }
}

.add-button {
  margin: 0 auto
}
