<td app-day [day]="getDayOfWeek()" [croissants]="getCroissants()"></td>
<td app-day [day]="getDayOfWeek(1)" [croissants]="getCroissants(1)"></td>
<td app-day [day]="getDayOfWeek(2)" [croissants]="getCroissants(2)"></td>
<td app-day [day]="getDayOfWeek(3)" [croissants]="getCroissants(3)"></td>
<td app-day [day]="getDayOfWeek(4)" [croissants]="getCroissants(4)"></td>
