<mat-toolbar>
  <img class="logo" src="/assets/bk-black.png">
  <span class="app-name">Croissant Board</span>
</mat-toolbar>


<router-outlet></router-outlet>

<app-tile-container></app-tile-container>
