.mat-dialog-content {
  display: flex;
  flex-direction: column;

  .mat-form-field {
    width: 100%;
  }
}

.mat-dialog-actions {
  display: flex;
  justify-content: flex-end;
}

.radio-btn-vertical {
  margin-top: 1em;
}

img.avatar {
  float: left;
  margin-top: .5em;
  margin-right: .8em;
}
