<form #form="ngForm" (ngSubmit)="submit(form.value)">
  <h1 mat-dialog-title>
    <legend *ngIf="isNew">Prenez rendez-vous</legend>
    <legend *ngIf="!isNew">Auriez-vous changé d'avis ?</legend>
  </h1>

  <div mat-dialog-content>
    <mat-form-field data-cy="comment">
      <input
        matInput
        #reason="ngModel"
        [(ngModel)]="croissant.reason"
        placeholder="Commentaire"
        name="reason"
        maxlength="50"
        required
      />
      <mat-hint align="end"
        >{{ croissant.reason ? croissant.reason.length : 0 }} / 50</mat-hint
      >
      <mat-error
        class="error"
        *ngIf="form.submitted && reason.errors && reason.errors.required"
        >Un petit commentaire est requis</mat-error
      >
    </mat-form-field>

    <mat-form-field data-cy="date">
      <input
        matInput
        #date="ngModel"
        [(ngModel)]="croissant.date"
        [matDatepicker]="picker"
        [matDatepickerFilter]="weekFilter"
        [min]="now"
        [max]="max"
        placeholder="Choisir un jour"
        autocomplete="off"
        name="date"
        required
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error class="error" *ngIf="form.submitted && date.errors"
        >Date invalide</mat-error
      >
    </mat-form-field>

    <mat-radio-group class="radio-btn-vertical" name="time" [(ngModel)]="time">
      <mat-radio-button value="morning">
        Petit déjeuner
      </mat-radio-button>
      <mat-radio-button value="afternoon">
        Goûter
      </mat-radio-button>
    </mat-radio-group>

    <mat-form-field data-cy="person">
      <input
        type="text"
        matInput
        placeholder="Âme bienveillante"
        [(ngModel)]="croissant.person"
        name="person"
        [formControl]="personCtrl"
        [matAutocomplete]="autoPerson"
        required
      />
      <mat-autocomplete #autoPerson="matAutocomplete" [displayWith]="displayFn">
        <mat-option *ngFor="let p of filteredPersons | async" [value]="p">
          <img
            class="avatar"
            gravatar
            [email]="p.email"
            [size]="30"
            fallback="identicon"
          />
          {{ p.firstName }} {{ p.lastName }}
        </mat-option>
      </mat-autocomplete>
      <mat-error
        class="error"
        *ngIf="
          form.submitted && personCtrl.errors && personCtrl.errors.required
        "
        >Se désigner est un plus non négociable</mat-error
      >
    </mat-form-field>
  </div>

  <div mat-dialog-actions>
    <button
      mat-button
      *ngIf="!isNew"
      type="button"
      (click)="delete()"
      color="warn"
      [disabled]="isLoading"
    >
      SUPPRIMER
    </button>

    <button mat-button type="button" mat-dialog-close="">
      ANNULER
    </button>

    <button mat-button color="primary" type="submit" [disabled]="isLoading">
      {{ isNew ? "CRÉER" : "ÉDITER" }}
    </button>
  </div>
</form>
