<div class="notification" [ngClass]="getStatus()">
  <h1 [innerHTML]="notification.title"></h1>
  <p [innerHTML]="notification.message"></p>
  <div class="notif-actions">
    <button mat-button type="button" *ngIf="notification.action1" (click)="notification.action1.callback()">
      {{notification.action1.label}}
    </button>
    <button mat-button type="button" *ngIf="notification.action2" (click)="notification.action2.callback()">
      {{notification.action2.label}}
    </button>
  </div>
</div>
