@import '~@angular/material/theming';
@import 'src/styles/theme.scss';

.ERROR {
  background-color: mat-color($bk-app-warn);
}

.SUCCESS {
  background-color: $valid;
}

.INFO {
  background-color: mat-color($bk-app-primary);
}

.notification {
  color: white;
  width: 340px;
  padding: 5px 15px;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, .45);
  z-index: 10000;

  h1 {
    font-size: larger;
    margin: 5px 0;
  }

  p {
    margin: 5px 0;
  }

  .notif-actions {
    display: flex;
    justify-content: flex-end;
  }
}
